/*@media screen and (min-width:768px) {*/
/*    section.container a {*/
/*        display: flex;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*    }*/
/*}*/
section.container a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: unset;
    color: inherit;
}

section.container {
    min-height: 80px;
    background-color: #71d9ef;
    position: relative;
}