/*@media screen and (min-width:768px) {*/
/*    section.container a {*/
/*        display: flex;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*    }*/
/*}*/
section.container a {
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: unset;
    color: inherit;
}
section.container {
    height: 80px;
    border: 1px solid black;
    background-color: #ccffff;
    position: relative;
    margin: 16px;
}