/*@media screen and (min-width:768px) {*/
/*    section.container a {*/
/*        display: flex;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*    }*/
/*}*/
section.container a {
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: unset;
    color: inherit;
    margin: 25px;
}


section.container {
    height: 80px;
    border: 1px solid black;
    background-color: #ccffff;
    position: relative;
    margin: 16px;
}

header h1 {
    display: flex;
    justify-content: center;
    margin: 2px;
}

header nav {
    display: flex;
    justify-content: center;
}

header nav ul {
    list-style: none;
}

header nav li {
    height: 80px;
    background-color: #ccffff;
    position: relative;
    margin: 16px;
}